node_modules
yarn-error.log
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

.vscode/

lib/
dist/
coverage/

# 0x profile flame graph
*.0x/

# node profiler logs
benchmark/*.log
benchmark/*.txt